#who-we-are {margin-top: 60px;}
.people {flex-wrap: wrap;} 
.people img {width: 100%;}
.person {width: 100%; margin-bottom: 30px;}
.logo-active img {display: none}
.logo-inactive:hover img {display: none}
.logo-active:hover img {display: inline-block}
.person-image {
	position: relative;
	overflow:hidden;
}
.person-biography {
	position: absolute;
	top:0;
	left: 0;
	height:300px;
	display:none;
	visibility:hidden;
	p {
		color:white;
		text-align: left;
		font-family: $foundry_regular;
		line-height: 1.3em;
		padding: 15px;
	}
}
.person-name-panel {
    padding: 10px 10px 10px 10px;
	background: none;
    p {
    	text-align: left;
    	margin: 0;
		font-family: $foundry_regular;
		color: #000;
	    font-size: 0.85em;
	    line-height: 1.2em;
	    }
    .person-name {font-family: $foundry_extra_bold; text-transform: uppercase;}
}
#our-people {
	margin-top: 60px; 
	text-align: center;
	.rule img {margin: 0 auto 3px auto;}
}
.people {margin-top: 40px;}

#our-clients {background-color: #e0e0e0; padding: 60px 0;}
.client-logos-panel {width: 100%; flex-wrap: wrap;}
.client-logos {
	padding: 20px 0;
	width: 50%; 	
	img {width: 80%; margin: 0 auto;}
}

#our-awards {margin-top: 60px;}
.awards-panel {flex-wrap: wrap; margin-top: 40px;}
.awards {
	width: 50%;
	img {width: 100%;}
	p {text-transform: uppercase;}
}

@media screen and (min-width: 350px) {
    .person {width: 50%;}
}

@media screen and (min-width: 780px) {
    .navigation-menu {display: flex;}
    .navigation-menu-mobile {display: none;}
    .awards {width: 25%;}
    .client-logos {width: 25%;}
    .person {width: 25%;}
}