h1 {
    font-family: $foundry_extra_bold;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 0.9em;
}

h2 {
    font-family: $foundry_extra_bold;
    text-transform: uppercase;
    font-size: 3em;
}

h3 {
    font-family: $foundry_medium;
    font-size: 2em;
}

p {
    font-family: $foundry_regular;
    font-size: 1em;
}

a {
    font-family: $foundry_regular;
    font-size: 1em;
    text-decoration: none;
}

ul {list-style: none;}

.flexbox {
    display: flex;
}

.main-container {
	max-width: 1075px;
	margin: 0 auto;
}

.background {
    max-width: 1500px;
    margin: 0 auto;
    background: #000 url("/img/background.jpg") no-repeat center center;
    background-size: cover;
}