/* Typography */


h1 {
    font-family: $foundry_extra_bold;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 0.9em;
    margin: 0 0 0.5em 0;
}

h2 {
    font-family: $foundry_extra_bold;
    text-transform: uppercase;
    font-size: 2.25em;
    margin: 0 0 0.5em 0;
}

h3 {
    font-family: $foundry_extra_bold;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: 1.25em;
    margin: 0 0 0.5em 0;
}

h4 {
    font-family: $foundry_extra_bold;
    font-size: 1em;
    margin: 0 0 0.5em 0;
}

p {
    font-family: $foundry_regular;
    font-size: 1em;
    line-height: 2em;
    margin: 0 0 1em 0;
}

a {
    font-family: $foundry_regular;
    font-size: 1em;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}


/* General */

ul {list-style: none;}

.flexbox {
    -js-display: flex;
    display: flex;
}

.main-container {
	max-width: 1075px;
	margin: 0 auto;
    width: 90%;
    padding: 0 5%;
}

.hideme {opacity:0;}