.services {
	flex-direction: column;
}

#case-studies-masthead {
    max-width: 1500px;
    height: 500px;
    margin: 0 auto;
    background: black url("/img/backgrounds/case-study-ppcp.jpg") no-repeat top center;
    background-size: cover;
}

#case-studies-headline {
    max-width: 1500px;
    padding: 60px 0;
    margin: 0 auto;
}

.headlines {
	flex-direction: row;
	h1 {margin: 0.2em 0;}
	h3 {margin: 0.5em 0;}
	h3 {text-transform: capitalize;}
}

.ppcp {
	color: #fff;
	background-color: $ppcp_orange;
}

.client-logo {order: 2;}
.headlines-copy {order: 1;}

.fixed-nav-buttons {
	z-index: -100;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	justify-content: space-between;
	h4 {
		color: #fff;
		margin: 0;
		text-transform: uppercase;
		margin-top: 2px;
	}
	img {
		width: 30%;
		margin-top: 2px;
	}
	div {
		width: 47.5%;
		background: $foundry_red;
		padding: 15px 15px;
	}
	.fixed-previous-page {
		flex-direction: row;
	    background: $foundry_red;
	    background-size: cover;
	    align-items: center;
	    width: 100px;
	    pointer-events: auto;
	}
	.fixed-next-page {
		flex-direction: row;
		flex-direction: row;
	    background: $foundry_red;
	    background-size: cover;
		justify-content: flex-end;
		align-items: center;
	    width: 100px;
	    pointer-events: auto;
	}
	.fixed-spacer {
		background: transparent;
		width: auto;
	}
}

#case-study-intro-copy {
	margin-top: 60px;
	.rule {margin: 0 0 20px 0;}
	hr {
		border: 0;
	    height: 2px;
	    margin-top: 60px;
	    background: $foundry_red;
	}
	h2 {
		text-align: right;
		width: 30%;
	}
	.listen-copy, .plan-copy, .deliver-copy {
		width: 70%;
		p:first-of-type {font-family: $foundry_extra_bold;}
	}
	.case-study-introduction {
		margin: 0 10%;
		width: 80%;
		text-align: center;
		span {font-family: $foundry_extra_bold;}
	}
}

#case-study-intro-copy > div {
	margin-top: 60px;
	flex-direction: row;
}

.listen-copy, .plan-copy, .deliver-copy {padding-left: 60px;}

@media screen and (max-width: 800px) {
	.headlines {flex-direction: column;}
	.client-logo {
		order: 1;
		margin-bottom: 10px;
	}
	.headlines-copy {order: 2;}

	#case-study-intro-copy h2 {text-align: left;}
	#case-study-intro-copy > div {
		flex-direction: column;
		.listen-copy, .plan-copy, .deliver-copy {
			padding-left: 0;
			width: 100%;
		}
	}
	#case-study-intro-copy {
		.case-study-introduction {
			margin: 0%;
			width: 100%;
		}
	}
}