#case-studies {
	border-width: 60px 0 0 0;
	border-color: #fff;
	border-style: solid;
	background-color: #fff;
	position: absolute;
    z-index: 100;
    width: 100%;
}

.case-studes-examples {
	flex-direction: column;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	div {width: 100%;}
	img {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

@media screen and (min-width: 650px) {
	.case-studes-examples {flex-direction: row;}
}