#case-studies {
	margin-top: 60px;
}

.case-studes-examples {
	flex-direction: column;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	div {display:block;width: 100%; position: relative; z-index: 500;}
	img {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.project-name-panel {
	display: none;
	padding: 10px 0 10px 0;
	background: none;
	width: 100%;
	position: absolute !important;
	bottom: 0;
	left: 0;
    p {
    	text-align: left;
		padding-left: 10px;
    	margin: 0;
		font-family: $foundry_regular;
		color: #000;
	    font-size: 0.85em;
	    line-height: 1.2em;
	    }
    .project-client {font-family: $foundry_extra_bold; text-transform: uppercase; visibility: hidden;}
	.project-title {font-family: $foundry_extra_bold; text-transform: uppercase; visibility: hidden;}
}

@media screen and (min-width: 650px) {
	.case-studes-examples {flex-direction: row;}
}