#contact-masthead.masthead {
	background: black url("/img/backgrounds/background-image-2.svg") no-repeat top center; 
	background-size: cover;
	margin-top: 63px;
	.masthead-content {width: 100%;}
}

.contact-details {
	margin-top: 40px;
	flex-direction: row;
	justify-content: space-between;
	a {color: #fff;}
}

.address {background: transparent url("/img/address.svg") no-repeat top left;}
.telephone {background: transparent url("/img/telephone.svg") no-repeat top left;}
.email {background: transparent url("/img/email.svg") no-repeat top left;}

.address, .telephone, .email {padding-left: 50px;}
.address, .telephone {height: 105px;}

#map img {width: 100%;}
#map {margin-top: 60px;}

#enquiry-form {
	margin: 60px auto 0 auto;
	width: 50%;
	h1 {text-align: center;}
	p {text-align: center;}
	.button-next {@include black-button-big;}
	.button-next:hover {@include rollover-button-big;}
}

#careers {
	clear: left;
	margin-top: 150px;
	h3 {margin-top: 60px;}
}


@media screen and (max-width: 800px) {
	.contact-details {
		flex-direction: column;
		justify-content: space-around;
	}
	#enquiry-form {
		width: 90%;
			h1 {text-align: left;}
			p {text-align: left;}
			.rule img {margin: 0 0 30px 0;}
		}
}