#footer {
	max-width: 1500px;
    margin: 60px auto 0 auto;
    background: black url("/img/backgrounds/background-image-1.jpg") no-repeat center left;
    background-size: cover;
}

.footer {
	h1, h2, h3, p, a {color: #fff;}
	h1, h2 {margin: 0}
	.rule {margin: 0 0 30px 0;}
	flex-direction: column;
	.button-next {@include transparent-button;}
}

.social {
	text-align: center;
	width: auto;
	margin: 30px auto;
	padding: 20px 0;
}

.footer-row-1 {
	flex-direction: column;
	padding-top: 60px;
}

.footer-row-1 > div {
	margin-bottom: 30px;
	margin-right: 1.5em;
}

.footer-row-1 > div:last-child {
	margin-right: 0;
}

.footer-row-2 {
	background: rgba(255,255,255,0.2);
}

.footer-row-3 {
	flex-direction: column;
	padding-bottom: 60px;
}


@media screen and (min-width: 800px) {
	.footer-row-1 {
		flex-direction: row;
	}
	.footer-row-3 {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}