#homepage-masthead {
	margin-top: -840px;
}

.video {
	pointer-events: none;
	width: 100%;
	height: 600px;
	max-width: 1500px;
	margin: 0 auto;
	overflow: hidden;
	video {
		width: 1500px;
	}
}

.button-next {
	@include transparent-button;
}

.slide {
	flex-direction: column;
	justify-content: flex-end;
	height: 785px;
	pointer-events: none;
}

@media screen and (min-width: 1500px) {
	.video {
		max-width: 1500px;
		margin: 0 auto;
		video {
			width: 100%;
			margin: 0 auto;
		}
	}
}