#homepage-showreel {
	max-width: 1500px;
    margin: 60px auto 0 auto;
    background: black url("/img/backgrounds/background-image-1.jpg") no-repeat center left;
    background-size: cover;
}

.showreel .button-next {
	background: transparent;
	overflow: auto;
	padding: 20px 30px;
	float: left;
	margin-top: 25px;
	border: 1px solid #fff;
	p {
		text-transform: uppercase;
		float: left;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	img {
		width: auto;
		float: left;
		margin-left: 10px;
	}
}

.showreel {
	margin-top: 60px;
	a {color: #fff}
	position: relative;
	.rule img {width: 31px;}
}

.showreel .slide {
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 60px;
	height: 690px;
}

@media screen and (min-width: 1075px) {

}