#homepage-intro-copy {
	margin-top: 60px;
	.rule img {margin-bottom: 30px;}
}

.button-next {
	@include red-button;
}

.intro-copy {
	margin-top: 60px;
	flex-direction: column;
}

.problem-solved {
	width: 80%;
	padding: 0 10%;
	text-align: center;
	.rule img {margin: 0 auto;}
	p:first-of-type {font-family: $foundry_extra_bold;}
}

.groupthree {
	flex-direction: column;
}

.groupthree > div {
	margin-top: 60px;
}

.problem-solved {
	flex-direction: column;
}


@media screen and (min-width: 800px) {
	.problem-solved {flex-direction: row;}
	.problem-solved-1 {text-align: right;}
	.problem-solved-2 {padding-left: 50px;}
	.groupthree {
		flex-direction: row;
		margin-top: 0;
	}
	.groupthree > div {
		margin-right: 5%;
		width: 30%;
	}
	.groupthree > div:last-child {
		margin-right: 0;
	}
	.groupthree-content {
		flex-direction: column;
		justify-content: space-between;
		p {flex-grow: 2;}
	}
}