/* Black Button */

@mixin black-button {
    background: transparent url("/img/arrow-right-black-no-border.svg") no-repeat right center;
    pointer-events: auto;
    overflow: auto;
    padding: 20px 80px 20px 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid #000;
    align-items: center;
    height: 35px;
    p {
        color: #000;
        text-transform: uppercase;
        line-height: 20px;
        float: left;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}

/* White Button */

@mixin white-button {
    background: transparent url("/img/arrow-right-no-border.svg") no-repeat right center;
    pointer-events: auto;
    overflow: auto;
    padding: 20px 80px 20px 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid #fff;
    align-items: center;
    height: 35px;
    p {
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        float: left;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}

/* White Button */

@mixin red-button {
    background: transparent url("/img/arrow-right-no-border.svg") no-repeat right center;
    pointer-events: auto;
    overflow: auto;
    padding: 20px 80px 20px 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid $foundry-red;
    align-items: center;
    height: 35px;
    p {
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        float: left;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}


/* Rollover Button */

@mixin rollover-button {
    background: $foundry-red url("/img/arrow-right.svg") no-repeat right center;
    pointer-events: auto;
    overflow: auto;
    padding: 20px 80px 20px 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid $foundry-red;
    align-items: center;
    height: 35px;
    p {
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        float: left;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
}