#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
    background-color: #000;
}

.navigation-panel {
    padding: 20px 0;
    align-items: flex-start;
    a {
        font-family: $foundry_thin;
		color: #fff;
		&.active {
			color: $foundry-red;
		}
	}
    ul {list-style: none;}
}

.logo {
    flex-grow: 1;
}


/* Default */

.navigation-menu {
    display: none;
    ul {
        padding: 12px 0 0 0;
        margin: 0;
        list-style: none;
    }
    li {list-style: none; line-height: 1em;}
}

.menu-links {
    li {padding-left: 20px;}
    flex-direction: row;
    align-items: flex-end;
    flex-direction: row;
}


/* Mobile */

.menu-toggle-button {align-self: flex-end;}

.navigation-menu-mobile {
    margin: 0;
    flex-direction: column;
    text-align: right;
    a {
        font-family: $foundry_extra_bold;
        text-transform: uppercase;
        font-size: 2em;
    }
}

.menu-links-mobile {
    li {padding-left: 20px;}
    display: none;
    ul {flex-direction: column;}
}

.open {display: inline;}

/* Media Querys */

@media screen and (min-width: 780px) {
    .navigation-menu {display: flex;}
    .navigation-menu-mobile {display: none;}
}