/* Fonts */

@font-face {
    font-family: 'Gotham Black';
    src: url(../fonts/gotham-black.ttf);
    src: url(../fonts/gotham-black.eot);
    src: url(../fonts/gotham-black.woff);
}

@font-face {
    font-family: 'Gotham Medium Condensed';
    src: url(../fonts/gotham-condensed-medium.eot);
    src: url(../fonts/gotham-condensed-medium.otf);
    src: url(../fonts/gotham-condensed-medium.ttf);
    src: url(../fonts/gotham-condensed-medium.woff);
}

@font-face {
    font-family: 'Gotham Medium Book';
    src: url(../fonts/gotham-book.eot);
    src: url(../fonts/gotham-book.ttf);
    src: url(../fonts/gotham-book.woff);
}

$foundry_extra_bold: 'Gotham Black',sans-serif,arial,sans-serif;
$foundry_condensed_bold: 'Gotham Medium Condensed',sans-serif,arial,sans-serif;
$foundry_regular: 'Gotham Medium Book',sans-serif,arial,sans-serif;


/* Colours */

$foundry_red: #c62b32;
$ppcp_orange: #f39530;