<!-- Enquiry Form -->

<section id="enquiry-form" class="centered">
	<perch:form action="#perch-reset" id="contact" method="post" app="perch_forms">
        <h1>Make an enquiry</h1>
		<div class="rule">
			<img src="/img/rule.png" alt="Rule" />
		</div>
		<p>Send us a message. Fill in your details and we'll be in touch as soon as possible.</p>
		<fieldset>
			<div class="form-field">
				<perch:input id="name" name="user_name" type="text" placeholder="Name" required="true" label="Name" />
			</div>
			<div class="form-field">
				<perch:input id="company" name="user_company" type="text" placeholder="Company" required="true" label="Company" />
			</div>
			<div class="form-field">
				<perch:input id="email" name="user_email" type="text" placeholder="Email address" required="true" label="Email" />

			</div>
			<div class="form-field">
				<perch:input id="telephone" name="user_telephone" type="text" placeholder="Telephone number" required="true" label="Telephone" />
			</div>
			<div class="form-field">
				<perch:input id="message" name="user_message" type="text" placeholder="Message" required="true" label="Message" />
			</div>

			<div class="button-next">
				<perch:input type="submit" id="submit" value="Send" />
			</div>
		</fieldset>
		<perch:success>
		<perch:content id="thankyou" label="Success message" type="textarea" textile="true" editor="markitup" />
		</perch:success>
	</perch:form>
</section>

<!-- End Enquiry Form -->