/* Mixins */
/* Module */
/* line 5, ../../scss/modules/form.scss */
.field {
  padding-bottom: 30px;
}

/* line 10, ../../scss/modules/form.scss */
.majorminor-minor p {
  padding: 0;
}

/* line 15, ../../scss/modules/form.scss */
label {
  font-size: 1em;
}

/* line 20, ../../scss/modules/form.scss */
input {
  box-shadow: 0;
  border-radius: 0;
}

/* line 25, ../../scss/modules/form.scss */
input[type="submit"] {
  background: #b07e5b;
  color: #fff;
  height: 28px;
  width: 75px;
  border: none;
  font-size: 1em;
  font-family: inherit;
  margin-bottom: 30px;
  margin-top: 20px;
}

/* line 37, ../../scss/modules/form.scss */
.sample-request {
  margin-top: 2em;
}

/* line 41, ../../scss/modules/form.scss */
select {
  margin-bottom: 2em;
}
