/* Mixins */
/* Module */
/* line 5, ../../scss/modules/sitemap.scss */
#sitemap a {
  font-size: 120%;
}

/* line 9, ../../scss/modules/sitemap.scss */
ul.M0 {
  list-style: none;
}

/* line 13, ../../scss/modules/sitemap.scss */
ul.M0 li {
  border-bottom: 1px solid #bdc0c5;
  font-weight: bold;
  padding-top: 12px;
  margin-left: 0px;
}

/* line 20, ../../scss/modules/sitemap.scss */
ul.M3 {
  padding-top: 0px;
  font-weight: normal;
}

/* line 25, ../../scss/modules/sitemap.scss */
ul.M3 li {
  border-bottom: none;
  font-weight: normal;
  padding-bottom: 0;
  padding-top: 8px;
  margin-left: 12px;
}
