/* line 1, ../../scss/bk-up-modules/product-feature-panels.scss */
.product-feature-panels {
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 3em 0 3em 0;
  background: #eeeff0;
}
/* line 8, ../../scss/bk-up-modules/product-feature-panels.scss */
.product-feature-panels h2 {
  padding-bottom: 1.5em;
}
/* line 12, ../../scss/bk-up-modules/product-feature-panels.scss */
.product-feature-panels p {
  font-size: 1.0em;
  line-height: 1.0em;
  margin: 0 0 0 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 20, ../../scss/bk-up-modules/product-feature-panels.scss */
.product-feature-panels img {
  display: block;
  margin: 0 auto 1em auto;
  position: relative;
  text-align: center;
  width: 80%;
}
/* line 28, ../../scss/bk-up-modules/product-feature-panels.scss */
.product-feature-panels hr {
  border-color: #5b6270;
  border-width: 4px;
  display: block;
  margin: 0 auto;
  visibility: visible;
  width: 200px;
}
