/* line 1, ../../style/scss/modules/footer.scss */
.footer {
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background: white url("../../../img/background.jpg") no-repeat center top;
  background-size: 100% 100%;
  width: 100%;
}

/* line 10, ../../style/scss/modules/footer.scss */
.footer h1, .footer h2, .footer p {
  text-align: left;
  color: #fff;
}

/* line 16, ../../style/scss/modules/footer.scss */
.footer .rule {
  margin-bottom: 20px;
  padding: 0;
}

/* line 22, ../../style/scss/modules/footer.scss */
.footer h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 90%;
  padding-bottom: 20px;
}

/* line 30, ../../style/scss/modules/footer.scss */
.footer h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 90%;
  padding-bottom: 20px;
}

/* line 38, ../../style/scss/modules/footer.scss */
.footer .groupthree-content {
  padding: 30px;
}
