/*

Layout rules

Generally, a Layout style only has a single selector: a single ID or class name.

Consider elements that are used multiple times on the page and use class selectors where appropriate.

http://smacss.com/book/type-layout

*/

.l-content {
	@include outer-container;
	position: relative;
	
	&.case-studies {
		max-width: em(1504);
	}
}

.l-masthead {
	clear: both;
	@extend %clearfix;
	position: relative;
	width: 100%;
}