@import '../libraries/neat/neat-helpers';

/* Visual grid */
$visual-grid: false;
$visual-grid-color: #000000;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

/* Grid1 (default) */
$grid-columns: 40;
$gutter: golden-ratio(0em,1);
$max-width: em(1120);

$grid2: new-breakpoint(min-width 30em 80);
$grid3: new-breakpoint(min-width 50em 120);
$grid4: new-breakpoint(min-width 60em 140);