/*

CSS3

Well supported using their standard property – do not use vendor prefixes:

Border-radius
http://caniuse.com/#feat=border-radius

Box-shadow
http://caniuse.com/#feat=css-boxshadow

*/

@mixin prepare_transform($value) {
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	-webkit-transform: $value;
	transform: $value;
}

@mixin prepare_transition($value) {
	/* Usable for simple transitions, where either non-prefixed rules or all rules are being transitioned */
	-moz-transition: $value;
	-o-transition: $value;
	-webkit-transition: $value;
	transition: $value;
}

/*

Image replacement

Use Bourbon’s hide-text

@include hide-text;

http://bourbon.io/docs/#hide-text

*/

/*

Unit conversion

To convert pixels to ems, use Bourbon’s em()

Input is calculated based on a parent value – default parent is 16px
The parent can be changed by passing an optional second value

font-size: em(12);
font-size: em(12,24);

http://bourbon.io/docs/#px-to-em

*/

/* Various */

%clearfix {
	/* Bourbon has a clearfix, but I prefer to use a Sass placeholder because less code will be outputted */
	& { *zoom: 1; }
	&:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

@mixin fancyborder($theme, $style) {

	background: transparent url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/horizontal.gif") left top repeat-x;

	background:
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/top-left.gif") left top no-repeat, /* Top-left corner */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/top-right.gif") right top no-repeat, /* Top-right corner */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/bottom-right.gif") right bottom no-repeat, /* Bottom-right corner */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/bottom-left.gif") left bottom no-repeat, /* Bottom-left corner */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/horizontal.gif") left top repeat-x, /* Top horizontal */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/vertical.gif") right top repeat-y, /* Right vertical */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/horizontal.gif") left bottom repeat-x, /* Bottom horizontal */
		url("/Files/Templates/Designs/PGLCore/res/img/themes/" + $theme + "/tiles/" + $style + "/vertical.gif") left top repeat-y; /* Left vertical */

}

@mixin hide() {
	display: none;
	visibility: hidden;
}

@mixin show($display: block) {
	display: $display;
	visibility: visible;
}

@mixin spacer($topmargin: false) {
	margin-bottom: em(16);

	@if $topmargin == true {
		margin-top: em(16);
	}

}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}