/*

Colours 

All colours are accessible to the core (corporate) theme.

Section or sub-section themes should only access their own colours, and the corporate colours.

*/

/* Footfall colours */

$about-footfall: #0d8894; /* Dark Turquoise */
$products: #487329; /* Green */
$our-distributors: #00a8e1; /* Turquoise */
$contact-us: #b07e5b; /* Brown */
$case-studies: red; /* ???????? */

/* Spacezero colours */

$turquoise: #3fbeb7; /* Turquoise */
$light-turquoise: #acdcdc; /* Light Turquoise */
$green: #57be91; /* Green */
$dark_grey: #404652; /* Dark Grey */
$light_grey: #edeef0; /* Light Grey */

/* Adventure holidays */

$adventureholidays1: #e3c889; /* Yellow */
$adventureholidays2: #df731d; /* Orange */
$adventureholidays3: #00617e; /* Teal */
$adventureholidays4: #a71218; /* Red */

$adventureholidays_centre1: #835a52; /* Brown */
$adventureholidays_centre2: #dcc084; /* Light Peach */

$adventureholidays_category0_1: #712c76; /* Purple (Multi-Activity) */
$adventureholidays_category0_2: #b998bc; /* Light Purple (Multi-Activity) */
$adventureholidays_category1_1: #57846d; /* Green (Action and Adventure) */
$adventureholidays_category1_2: #bfe0e1; /* Light Blue (Action and Adventure) */
$adventureholidays_category2_1: #c68300; /* Orange (Love to Learn) */
$adventureholidays_category2_2: #ffe29c; /* Light Yellow (Love to Learn) */
$adventureholidays_category3_1: #677725; /* Lime Green (Creative Kids) */
$adventureholidays_category3_2: #d0d891; /* Light Green (Creative Kids) */
$adventureholidays_category4_1: #e16339; /* Brick Red (Overseas) */
$adventureholidays_category4_2: #dfb09f; /* Light Peach (Overseas) */

/* Corporate */

$corporate1: #000000; /* Black */
$corporate2: #0069ac; /* Blue */
$corporate3: #fff451; /* Yellow */
$corporate4: #404652; /* Dark Grey */

$error: #c12c32; /* Red */
$application_complete: #d1ffdf; /* Green */
$application_pending: #ffd9d9; /* Red */

/* Family adventures */

$familyadventures1: #912344; /* Deep Pink */
$familyadventures2: #c93214; /* Red */
$familyadventures3: #125d7e; /* Blue */
$familyadventures4: #c93214; /* Terracotta */
$familyadventures5: #f5ebd0; /* Beige */
$familyadventures6: #fefaf0; /* Light Yellow */
$familyadventures7: #ffd563; /* Warm Yellow */

$familyadventures_category0_1: #377f8c; /* Light Blue (Multi-Activity) */
$familyadventures_category0_2: #18517f; /* Dark Blue (Multi-Activity) */
$familyadventures_category0_3: #b3d1db; /* Very Light Blue (Multi-Activity) */
$familyadventures_category1_1: #9ca735; /* Light Green (More Adventurous) */
$familyadventures_category1_2: #669900; /* Dark Green (More Adventurous) */
$familyadventures_category1_3: #ecf09b; /* Very Light Green (More Adventurous) */

/* Group residentials */

$groupresidentials1: #1ebecd; /* Aqua */
$groupresidentials2: #ffe895; /* Peach */

/* School trips */

$schooltrips1: #8c1a4a; /* Berry */
$schooltrips2: #d36225; /* Orange */

$schooltrips_primary1: #8c1a4a; /* Berry */
$schooltrips_primary2: #d36225; /* Orange */

$schooltrips_secondary1: #0081b1; /* Medium Blue */ 
$schooltrips_secondary2: #52bde7; /* Light Blue */

/*

Fonts

Section or sub-section themes should only access their own fonts, and the corporate fonts.

*/

$corporate_bold: 'Museo Sans W01_500',sans-serif,arial,sans-serif;
$corporate_extra_bold: 'Museo Sans W01_700',sans-serif,arial,sans-serif;
$corporate_medium: 'Museo Sans W01_300',sans-serif,arial,sans-serif;
$corporate_regular: 'Museo Sans W01_100',sans-serif,arial,sans-serif;

$american_typewriter_bold: 'American Typewriter ITC W01 Bd',sans-serif,arial,sans-serif;
$american_typewriter_light: 'American Typewriter ITC W01 Lt',sans-serif,arial,sans-serif;
$american_typewriter_medium: 'American Typewriter ITC W01 Md',sans-serif,arial,sans-serif;

$code_light: 'Code Pro W01 Regular',sans-serif,arial,sans-serif;

$footfall_regular: 'Museo Sans W01_300',sans-serif,arial,sans-serif;
$footfall_regular_italic: 'Museo Sans W01_300Italic',sans-serif,arial,sans-serif;
$footfall_medium: 'Museo Sans W01_500',sans-serif,arial,sans-serif;
$footfall_medium_italic: 'Museo Sans W01_500Italic',sans-serif,arial,sans-serif;
$footfall_bold: 'Museo Sans W01_900',sans-serif,arial,sans-serif;
$footfall_bold_italic: 'Museo Sans W01_900Italic',sans-serif,arial,sans-serif;
