/* http://responsiveslides.com v1.54 by @viljamis */
/* line 3, ../../style/scss/libraries/rslides.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 12, ../../style/scss/libraries/rslides.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 21, ../../style/scss/libraries/rslides.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

/* line 27, ../../style/scss/libraries/rslides.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
