/* Mixins */

/* Module */

.divide {
	clear: both;
	@extend %clearfix;

	> h2 {
		background: tint($corporate2,80%);
		font-size: em(20);
		margin-bottom: em(16,20);
		padding: em(8,20);
	}

}

.divide-hasdecal {

	> h2 { overflow: visible; }

	img {
		display: inline-block;
		height: 14px;
		@include prepare_transform(scale(2.5));
		margin: 0 em(24) 0 0;
		width: 14px;
	}

	img:last-child { margin: 0 em(16) 0 0; }
	
	.ie & {

		img {
			height: 28px !important;
			width: 28px !important;
		}

		img.last { margin: 0 em(16) 0 0 !important; }

	}

}

.divide-toggle {
	background: transparent url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/blue/up.svg") right center no-repeat;
	display: block;
	padding-right: em(24,20);
	text-decoration: none;

	.nosvg & { background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/blue/up.png");  }

}

/* Sub-modules */

.divide-nested {
	margin-bottom: em(2);

	> h2 { margin-bottom: em(2,20); }

}

.divide-nested-level1, .divide-nested-level2 {

	> h2 {

		.divide-toggle {
			background: transparent url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/up.svg") right center no-repeat;
			color: white;

			.nosvg & { background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/up.png");  }

		}

	}

	&.is-divide-closed {

		> h2 {

			.divide-toggle {
				background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/down.svg");

				.nosvg & { background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/down.png"); }

			}

		}

	}

}

.divide-nested-level1 {
	@include spacer();

	> h2 { background: $corporate2; }

}

.divide-nested-level2, .divide-nested-level3 {

	> h2 {
		font-size: em(16);
		margin-bottom: em(2);
		padding: em(8);
	}

}

.divide-nested-level2 > h2 { background: tint($corporate2,40%); }

.divide-nested-level3 > h2 {
	background: tint($corporate2,80%);
	color: $corporate2;
}

.divide-nested-content { /* Out of alphabetical order because it affects rules set above */

	&:last-child { margin-bottom: 0; }

	> h2 { margin-bottom: em(16); }

}

/* State */

.is-divide-closed {

	.divide-content { @include hide(); }

	.divide-toggle {
		background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/blue/down.svg");

		.nosvg & { background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/blue/down.png"); }

	}

	> h2 { margin-bottom: 0; }

}

@media print {

	.divide > h2 {
		border-top: 1px solid $corporate1;
		padding-left: 0;
	}

	.is-divide-closed .divide-content { @include show(); }

}