/* Mixins */

/* Module */

.field { padding-bottom: em(16); }

.field-captcha {

	img {
		border: 1px solid $corporate1;
		@include spacer();
		margin-top: em(12);
		width: 50%;
	}

	input {
		text-transform: uppercase;
		width: 50%;
	}

}

.field-group {
	clear: both;
	@extend %clearfix;
	font-size: em(16);
	line-height: em(20);
	list-style-type: none;

	&, label, li:last-child { padding-bottom: 0; }
	
	li {
		margin-left: 0;
		padding-bottom: em(8);
	}

}

.field-group-small li {
	float: left;
	padding-bottom: em(4);
	width: 25%;
}

.field-mailinglists { @include hide(); }

.field-mailinglists-isactive { @include show(); }

.field-required { color: $corporate2; }

/* Sub-modules */

/* State */

@include media($grid3) {

	.field-captcha input { width: 25%; }

	.field-group-small li { width: 33.333333%; }

}