/* Mixins */

/* Module */

.formresult { @include spacer(); }

.formresult {

	li {
		margin-left: 0;

		&:last-child { padding-bottom: 0; }

	}

	ol, p, ul {
		border-radius: em(4);
		font-weight: 500;
		padding: em(16,13);
	}

	ol, ul { list-style-type: none; }

}

.formresult-fail {
	background: tint($error,70%);
	color: $error;
}

.formresult-success { background: tint($corporate3,60%); }

/* Sub-modules */

/* State */

@media print {

	.formresult-fail { border: 1px solid $error; }

	.formresult-success { border: 1px solid $corporate1; }

}