/* Mixins */

/* Module */

.help {
	background: tint($corporate2,80%);
	border: 1px solid tint($corporate2,70%);
	border-radius: em(4);
	margin-bottom: em(8);
	padding: em(8);

	p {
		font-size: em(12);
		line-height: em(16,12);
		padding-bottom: 0;
	}

}

/* Sub-modules */

/* State */

.is-help-closed { @include hide(); }