/* Mixins */

/* Module */

.key {
	background: tint($corporate2,90%);
	@extend %clearfix;
	@include spacer();

	h3 { padding-top: em(12,18); }

}

.key-integrated { margin-bottom: 0; }

.key-group {
	clear: both;
	list-style-type: none;

	li { padding-bottom: em(12,13); }

}

.key-item {
	color: $corporate1;
	font-weight: 500;
	margin-left: 0;
	padding: 0 em(8,13) em(8,13) em(8,13);

	img {
		display: inline-block;
		height: 14px;
		@include prepare_transform(scale(2));
		margin: 0 em(8,13) 0 em(8,13);
		width: 14px;

		.ie & {
			height: 28px !important;
			width: 28px !important;
		}

	}

}

.key-item-small img { @include prepare_transform(scale(1.5)); }

/* Sub-modules */

/* State */

@include media($grid2) {

	.key-item-small { float: left; }

}