/* Mixins */

/* Module */

.payment {
	clear: both;
	width: 60%;
}

/* Sub-modules */

/* State */

@include media($grid2) {

	.payment { width: 40%; }

}

@include media($grid3) {

	.payment { width: 35%; }

}

@include media($grid4) {

	.payment { width: 30%; }

}