.product-feature-panels {
	
	padding-top: 2em;
	padding-bottom: 1em;
	margin: 3em 0 3em 0;
	background: #eeeff0;
	
	h2 {
		padding-bottom: 1.5em;
	}
	
	p {
		font-size: 1.0em;
		line-height: 1.0em;
		margin: 0 0 0 0;
		text-align: center;
		text-transform: uppercase;
	}
	
	img {
		display: block;
		margin: 0 auto 1em auto;
		position: relative;
		text-align: center;
		width: 80%;
	}
	
	hr {
		border-color: #5b6270;
		border-width: 4px;
		display: block;
		margin: 0 auto;
		visibility: visible;
		width: 200px;
	}
}