/* Mixins */

/* Module */

.progress {
	background: tint($corporate2,80%);
	border-radius: em(4);
	@extend %clearfix;
	margin: 0 em(8) em(24) em(8);
}

.progress-indicator {
	background: $corporate2;
	border-radius: em(4,13);
	color: white;
	font-weight: 500;
	font-size: em(13);
	padding: em(8,13);
	text-align: right;
}

/* Sub-modules */

/* State */

@media print {

	.progress, .progress-indicator { border-radius: 0; }

	.progress {
		border: 1px solid tint($corporate1,80%);
		margin-left: 0;
		margin-right: 0;
	}

	.progress-indicator { border: 2px solid black; }

}