/* Mixins */

/* Module */

.searchwidget {
	clear: both;
	@extend %clearfix;
	@include spacer();
	position: relative;

	> h2 {
		font-size: em(20);
		padding: em(12,20) 0 em(12,20) 0;
	}

	input[type="image"] { margin-bottom: 0; }

}

.searchwidget-badge {
	position: absolute;
	right: em(16);
	top: 0;

	&, &[src$=".svg"] { width: em(45); }

	+ h2 { width: 70%; }

}

/* Sub-modules */

.searchwidget-linear {
	background: tint($corporate2,98%);
	border: 1px solid tint($corporate2,90%);
	padding: 0 em(16) 0 em(16);
}

.searchwidget-linear.family-adventures {
	background: url("/Files/Templates/Designs/PGLCore/res/img/themes/family-adventures/tiles/light.png") repeat scroll left top #f5ebd0;
	border:none;
}

.searchwidget-linear.family-adventures .divide:before {
    border-top: none;
}

.searchwidget-linear.family-adventures .divide {
    border-top: none;
}

.searchwidget-linear.family-adventures > h2 {
    font-size: 1.25em;
    padding: 0.6em 0 0 0.8em;
}
.searchwidget-linear.core {
	padding-top: 0.6em;
}


/* State */

@media print {

	.searchwidget { @include hide(); }

}