/* Mixins */

/* Module */

.specialoffer {
	clear: both;
	@extend %clearfix;
	@include spacer();
}

.specialoffer-cta {
	font-size: em(17);
	line-height: em(24,17);

	em {
		color: $corporate2;
		font-style: normal;
	}

}

.specialoffer-visual { @include spacer(); }

/* Sub-modules */

/* State */