/* Mixins */

/* Module */

.subnav {
	background: tint($corporate2,90%);
	@include spacer();
	
	li {
		background: transparent url(/img/arrows/grey/right.svg) 0 2px no-repeat;
		margin-left: 0;
		padding-left: em(20,13);

		.nosvg & { background: transparent url(/img/arrows/grey/right.png) 0 2px no-repeat; }

	}

	nav { padding: 0 em(16) 0 em(16); }

	time { font-size: em(11,13); }

	ul {
		clear: both;
		list-style-type: none;
	}

}

.subnav-link-isactive { font-weight: 500; }

/* Sub-modules */

.subnav-nested { margin-bottom: em(2); }

/* State */

@media print {

	.subnav, .subnav-nested-container { @include hide(); }

}