/* Mixins */

/* Module */

.supplementary { clear: both; }

.supplementary-choose {
	background: $corporate2;
	@extend %clearfix;
	padding: em(8) 0 em(8) 0;
}

.supplementary-choose-instruction {
	color: white;
	font-weight: 500;
	font-size: em(13);
	line-height: em(17,13);
	padding: 0 em(8,13) em(8,13) em(8,13);
}

.supplementary-choose-options { padding: 0 em(8) 0 em(8); }

.supplementary-content {
	background: tint($corporate2,90%);
	@extend %clearfix;
}

.supplementary-info {
	padding: em(8) em(8) 0 em(8);

	h3 {
		font-size: em(16);
		padding-top: em(8);
	}

}

.supplementary-visual { padding: 0 em(8) em(8) em(8); }

/* Sub-modules */

/* State */

@include media($grid3) {

	.supplementary-choose-instruction, .supplementary-choose-options { padding: 0 em(8) 0 em(8); }

	.supplementary-choose-options select { width: 50%; }

	.supplementary-info, .supplementary-visual { padding: em(8); }

	.supplementary-info h3 { padding-top: 0; }

}

@media print {

	.supplementary {
		border: 1px solid tint($corporate1,50%);
		page-break-inside: avoid;
	}

	.supplementary-choose { @include hide(); }

}