/* Mixins */
/* Module */
/* line 5, ../../style/scss/bk-up-modules/sort-results.scss */
.sort-results label {
  display: block;
  float: left;
  padding-right: 10px;
  padding-top: 1px;
}

/* line 12, ../../style/scss/bk-up-modules/sort-results.scss */
.sort-results select {
  display: block;
  float: left;
  width: auto;
}
