.button-next {
	
	background: #c62b32;
	overflow: auto;
	padding: 15px 30px;
	width: auto;
	float: left;
	margin-top: 25px;

	p {
		text-transform: uppercase;
		float: left;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		color: #FFFFFF;
	}
	
	img {
		width: auto;
		float: left;
		margin-left: 10px;
	}
}