/* Mixins */

/* Module */

.download {
	clear: both;
	@extend %clearfix;
	list-style-type: none;

	&, li:last-child { padding-bottom: 0; }

	li {
		margin-left: 0;

		&, .nosvg & { background: none; }

		a {
			background-color: transparent;
			background-position: top left;
			background-repeat: no-repeat;
			display: inline-block;
			min-height: em(26,13);
			padding: em(5,13) em(16,13) 0 em(38,13);
		}

		a[href$=".doc"], a[href$=".docx"], a[href*="FileType=DOC"], a[href*="FileType=DOCX"] {
			background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/doc.svg);

			.nosvg & { background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/doc.png); }

		}

		a[href$=".pdf"], a[href*="FileType=PDF"] {
			background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/pdf.svg);

			.nosvg & { background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/pdf.png); }

		}

		a[href$=".ppt"], a[href$=".pptx"], a[href*="FileType=PPT"], a[href*="FileType=PPTX"] {
			background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/ppt.svg);

			.nosvg & { background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/ppt.png); }

		}

		a[href$=".xls"], a[href$=".xlsx"], a[href*="FileType=XLS"], a[href*="FileType=XLSX"] {
			background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/xls.svg);

			.nosvg & { background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/download/xls.png); }

		}

	}

	small, strong { display: block; }

	small { font-size: 0.9em; }

	strong { padding-bottom: em(3,13); }

}

/* Sub-modules */

/* State */

@media print {

	.download a {
		color: black;
		padding-left: 0;
		text-decoration: underline;

		&:after {
			color: black;
			content: " (" attr(href) ")";
			word-wrap: break-word;
		}

	}

}