.feature-panel-holder {
	padding-top: 1em;
	
	&.range {
		margin: 0 1em 1em 0;
		background-image: url("/img/home-page/range-background.jpg");
		background-repeat: no-repeat;
		background-position: top left;
		height: 270px;
	}
	
	&.projects {
		margin: 0 0 0 0;
		background-image: url("/img/home-page/projects-background.jpg");
		background-repeat: no-repeat;
		background-position: top right;
		height: 270px;
		height: 556px;
	}
	
	&.underlay {
		margin: 0 1em 1em 0;
		background-image: url("/img/home-page/underlay-background.jpg");
		background-repeat: no-repeat;
		background-position: top left;
		height: 270px;
		
		p {
			color: #FFF;
		}
		
		a {
			color: #FFF;
		}
		
		hr {
			border-color: #FFF !important;
		}
	}
}

.feature-panels {
	
	p {
		font-size: 1.1em;
		line-height: 1.6em;
		margin: 0 0 0 1em;
		padding-bottom: em(16,13) !important;
		text-align: left;
		width: 70%;
	}
	
	a {
		font-size: 0.8em;
		font-weight: 900;
		text-transform: uppercase;
		width: 70%;
		color: #000;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	
	img {
		display: block;
		margin: 0 auto 0 auto;
		position: relative;
		text-align: center;
		width: 100%;
	}
	
	hr {
		border-color: #000;
		border-width: 2px;
		display: block;
		visibility: visible;
		width: 20px;
		margin: -0.4em 0 0.8em 1.1em;
	}
}

.grey-copy-panel {
	padding: 30px 20%;
	background: #f2f2f3;
	p {
		text-align: center;
		padding: 0;
	}
}