.footer {
	margin-top: 70px;
	padding-top: 70px;
	padding-bottom: 70px;
	background: #fff url("../../../img/background.jpg") no-repeat center top;
	background-size: 100% 100%;
	width: 100%;
}

.footer h1, .footer h2, .footer p {
	text-align: left;
	color: #fff;
}

.footer {
	.rule {
		margin-bottom: 20px;
		padding: 0;
	}
}

.footer h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 90%;
	padding-bottom: 20px;
}

.footer h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 90%;
	padding-bottom: 20px;
}

.footer .groupthree-content {
	padding: 30px;
}