/* Mixins */

/* Module */

.generalcontent {
	@extend %clearfix;
	@include spacer();
}

/* Sub-modules */

/* Disabled until further notice
.generalcontent-foreword { border-bottom: 1px solid tint($corporate1,60%); }
*/

.generalcontent-nested { margin-bottom: em(2); }

/* State */

@include media($grid4) {

	.generalcontent-quicklinks { width: 50%; }
	
	.generalcontent-quicklinks-small { width: 33.333333%; }

}

@media print {

	.generalcontent-quicklinks { @include hide(); }

}