/* Mixins */

/* Module */

.masthead {
	background: $corporate2;
	@extend %clearfix;
}

.masthead-info {
	@include span-columns(36 of 40);
	@include shift(2);
	padding-bottom: em(16);
	text-align: left;

	a:hover { text-decoration: none; }

	h1, h2, h3, p {

		&, a { color: white; }

	}

	h1, h2, h3 {

		b, strong { color: $corporate3; }

	}

	h1 {
		font-size: em(24);
		line-height: em(30,26);
		padding: em(16,26) 0 0 0;

		&, b, strong { font-weight: 900; }

	}

	h2 {
		font-size: em(20);
		line-height: em(28,20);
		padding: em(10,20) 0 0 0;
	}

	h3 {
		font-size: em(13);
		line-height: em(21,13);
		padding: em(10,13) 0 0 0;
	}

	p { padding: em(16,13) 0 0 0; }

	p a {
		background: transparent url(/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/right.svg) 0 4px no-repeat;
		display: inline-block;
		padding-left: em(16,13);

		.nosvg & { background-image: url(/Files/Templates/Designs/PGLCore/res/img/themes/core/arrows/white/right.png); }

	}

}

.masthead-visual { clear: both; }

/* Sub-modules */

/* State */

@include media($grid2) {

	.masthead-info {
		@include span-columns(36 of 80);
		@include shift(3);

	}

	.masthead-visual {
		clear: none;
		@include span-columns(36 of 80);
		@include shift(2);
	}

}

@include media($grid3) {

	.masthead-info {
		@include span-columns(65 of 120);
		@include shift(3);

		h1 {
			font-size: em(24);
			line-height: em(36,32);
			padding: em(16,32) 0 0 0;
		}

		h2 { padding: em(8,22) 0 0 0; }

		h3 { padding: em(8,13) 0 0 0; }

	}

	.masthead-visual {
		@include span-columns(45 of 120);
		@include shift(4);
	}

}

@include media($grid4) {

	.masthead-info {
		@include span-columns(80 of 140);
		@include shift(3);
	}

	.masthead-visual {
		@include span-columns(50 of 140);
		@include shift(4);
	}

}

@media screen and (min-width: 65em) {

	.masthead-info {

		h1 {
			font-size: em(28);
			line-height: em(40,36);
			padding: em(16,36) 0 0 0;
		}

		h2 {
			font-size: em(24);
			line-height: em(36,24);
			padding: em(12,24) 0 0 0;
		}

	}

}

@media screen and (min-width: 75em) {

	.masthead-info h1 {
		font-size: em(30);
		line-height: em(44,40);
		padding: em(16,40) 0 0 0;
	}

}

@media print {

	.masthead-info h1 {

		b, strong { color: $corporate2 !important; }

	}

}