/* Mixins */

/* Module */

.crumbtrail {
	border-top: 1px solid tint($corporate1,80%);
	clear: both;
	@extend %clearfix;

	p {
		font-size: em(12);
		letter-spacing: 0.02em;
		line-height: em(16,12);
		padding: em(16,12) 0 0 0;
	}

}

/* Sub-modules */

/* State */

@include media($grid2) {

	.crumbtrail {
		border-top: none;
		padding-top: 0;
	}

}

@media print {

	.crumbtrail {
		border-bottom: 1px solid tint($corporate1,80%);

		p { padding-bottom: em(18,12); }

	}

}