/* Mixins */

@mixin status-call {
	font-size: em(20);
	height: em(24,20);
	margin: em(6,20) 0 0 em(8,20);
	padding: 0 0 em(2,20) em(8,20);

	a { padding-top: em(4,20); }

	img {
		margin-right: em(8,20);
		width: em(18,20);
	}

}

@mixin status-small {
	font-size: em(13);
	height: em(24,13);
	margin: em(6,13) 0 0 em(8,13);
	padding: em(4,13) 0 em(2,13) em(8,13);

	img {
		margin-right: em(8,13);
		width: em(13,13);
	}

}

/* Module */

.status {
	background: $corporate1;
	border-top: em(4) solid $corporate4;
}

.status-item {
	color: white;
	display: inline-block;
	font-weight: 500;
	@include hide();
	@include status-small;

	a { color: white; }

	img { display: inline-block; }

}

.status-item-call {
	@include status-call;

	a { color: $corporate3; }

}

.status-item-search {
	padding-top: em(1,13);
	width: em(180,13);

	img { @include hide(); }

	input {
		background: white url("/Files/Templates/Designs/PGLCore/res/img/themes/core/header/status/search-field.svg") right center no-repeat;
		box-shadow: none;
		font-size: em(16);
		padding: em(3,16) em(32,16) em(3,16) em(3,16);

		.nosvg & { background-image: url("/Files/Templates/Designs/PGLCore/res/img/themes/core/header/status/search-field.png"); }

	}

}

.status-items {
	float: right;
	text-align: right;
}

/* Sub-modules */

/* State */

.status-item-isactive { @include show(); }

@include media($grid2) {

	.status-item {
		border-left: 1px solid white;
		float: left;
		@include show();

		&:first-child {
			border: none;
			margin-left: 0;
			padding-left: 0;
		}

		span { @include hide(); }

	}

	.status-item-call { @include status-small; }

	.status-item-search {
		width: auto;

		input { @include hide(); }

		img {
			@include show();
			margin: 0;
			width: em(21,13);
		}

	}

}

@media screen and (min-width: 40em) {

	.status-item-search {
		width: em(180,13);

		img { @include hide(); }

		input { @include show(); }

	}

}

@include media($grid4) {

	.status-item {
		margin-left: em(13,13);
		padding-left: em(13,13);

		span { @include show($display: inline); }

	}

	.status-item-call {
		@include status-call;
		margin-left: em(13,20);
		padding-left: em(13,20);
	}

}

@media print {

	.status-item {

		&, a { color: black !important; }

	}

	.status-item-call img { @include hide(); }

}